*{ 
    margin:0;
    padding:0; 
}

body {


    background-image: url(img/consultorio.jpg);
}


header{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px 0px 30px ;
    font-size: 15px;
    
}

section{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 10px 250px 10px 250px;
    text-align: left;
    border-style: solid;
    background-color:aliceblue;
}


footer {
    padding: 0px 0px;
    position:relative;
    text-align: center;
}

